    
    .col-100 {
        width: 100%;
        float: left;
        position: relative;
    }
   
   
        .texto-destaque h1 {
        text-transform: uppercase;
        font-size: 30px;
        color: #818181;
    }
    .texto-destaque p {
        font-size: 15px;
        color: #9a9a9a;
    }
    
   
    .bloco-imagem img {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .bloco-imagem {
        height: 300px;
        border: 1px solid #c5c5c5;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 10px;
    }
    .bloco-imagem b, p {
        text-align: left;
    }
    .bloco-texto {
        margin-top: 3em;
    }
    
    h3 {
        font-weight: normal!important;
    }
    
    .bloco-imagens-texto {
        background-color: #eeeeee;
    }
    .bloco-imagens-texto:before {
        width: 100%;
        display: inline-block;
        content: '';
        height: 52px;
        background: #ffffff;
        background-image: url('../img/setinha.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .bloco-imagens-texto:after {
        width: 100%;
        display: inline-block;
        content: '';
        height: 70px;
        background: #eeeeee;
    } 
    .col-4 {
        float: left;
        width: 25%;
        text-align: center;
    }
    .col-4 img {
    cursor: pointer;
     margin: 0 auto;
     padding-top: 1em;
     vertical-align: middle;
    }
    .col-4 img:hover {
        margin-top: 10px!important;
        position: relative!important;
    }
    
    .bloco-logos {
        height: 170px;
    }
    
    .bloco-logos img {
        margin-top: 50px;
    }
    
    .footer h3 {
        text-align: left;
    }
    
    .footer {
        background-image: url('../img/footer.png');
        color: #ffffff;
    }
    
    .footer-2 {
        background-image: url('../img/footer2.png');
        color: #c1c1c1;
        height: 90px;
    }
    
    
    .footer p {
        width: 90%;
        text-align: left;
    }
    
    .footer-2 p {
        padding: 10px;
    }
    
    .clock {
        color: #898989!important;
    }
    
    .clock:before {
        content: '';
        width:  15px;
        height: 15px;
        display: inline-block;
        background-image: url('../img/clock.png');
        float: left;
        background-repeat: no-repeat;
        padding-left: 5px;
    }
    
    .local:before, .emailico:before, .telefoneico:before {
        content: '';
        width:  17px;
        height: 24px;
        display: inline-block;
        float: left;
        background-repeat: no-repeat;
        padding-left: 5px;
    }
    .local:before {
        background-image: url('../img/local.png');
    }  
    .emailico:before {
        background-image: url('../img/emailico.png');
    }  
    .telefoneico:before {
        background-image: url('../img/telefoneico.png');
    }  
    
    
body {
    background: rgb(255, 255, 255);
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}

.full-img {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 100px;
}

.full-img span {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 30px;
    color: rgb(3, 0, 0);
    cursor: pointer;
}
    

.container {
    position: relative;
    width: 100%;
}

.background-image {
    width: 100%;
    height: auto;
}


